<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/index.css" type="text/css" />
    <link rel="stylesheet" href="/styles/header.css" type="text/css" />
    <link
      rel="stylesheet"
      href="/styles/responsive_design.css"
      type="text/css"
    />
    <link rel="stylesheet" href="/styles/layout_listing.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script
      src="https://kit.fontawesome.com/fb5d2a2f66.js"
      crossorigin="anonymous"
    ></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <script type="text/javascript" src="/scripts/favorite.js"></script>
  </head>

  <body>
    <header>
      <nav>
        <div>
          <h1></h1>
        </div>
        <div id="nav-a">
          <a href="favorites.html">Favorites</a>
          <a href="sell.html">Sell</a>
          <a href="inbox.html">Inbox</a>
        </div>
      </nav>
    </header>
    <main>
      <div id="menu">
        <p>hey hello</p>
      </div>
      <div id="prod_view">
        <% for(let ele in data ) { %>
        <article id="prod_article">
          <div>
            <tr>
              <div>
                <td><img src="uploads/<%= data[ele]['thumbnail'] %>.png" /></td>
              </div>
            </tr>
          </div>
          <div id="art_logo">
            <button
              type="button"
              class="fas fa-heart favBtn"
              data-productid="<%=data[ele].id%>"
              data-fav_prod_id="<%=data[ele].fav_prod_id %>"
              data-user_id="<%=data[ele].user_id %>"
            ></button>
          </div>
        </article>
        <% } %>
      </div>
    </main>
    <footer>
      <div></div>
      <img src="logo-footer.svg" />
      <p>Copyright &copy; KAZ 2021</p>
    </footer>
  </body>
</html>
