<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout_listing.css" type="text/css" />
    <link rel="stylesheet" href="/styles/header.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <link rel="stylesheet" media="screen" href="assets/css/style.css" />

  </head>

  <header>
    <h1>
      <img src ="logo.svg">
    </h1>

    <!-- search bar -->
    <nav>
      <a href="favorites.html">Favorites</a>
      <a href="sell.html">Sell</a>
      <a href="inbox.html">Inbox</a>
    </nav>

  </header>

  <body>
    <main>
      <% for(let ele in data ) { %>
      <article id="prod_article">
        <tr>
          <div><td><img src="uploads/<%= data[ele]["thumbnail"] %>.png" /></td></div>
        </tr>
      </article>
      <% } %>
    </main>
  </body>

  <footer>
    <img src="logo-footer.svg">
     <p>Copyright &copy; KAZ 2021</p>
  </footer>


</html>
