<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <!-- <link rel="stylesheet" href="/styles/overall.css" type="text/css" /> -->

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <header>
    <h1>
      <img src ="logo.svg">
    </h1>

    <!-- search bar -->

    <nav>
      <a href="favorites.html">Favorites</a>
      <a href="sell.html">Sell</a>
      <a href="inbox.html">Inbox</a>
    </nav>
  </header>

  <body>
    <section class= "hero">
      <div>
       <h2>Buy & Sell Survival Goods</h2>
    </section>


  <section class= "product_trio">
    <img src = "product_1.jpg">
    <img src = "product_2.jpg">
    <img src = "product_3.jpg">
  </section>


  </body>

  <footer>
    <img src="logo-footer.svg">
     <p>Copyright &copy; KAZ 2021</p>
  </footer>


</html>
