<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body>
    <form action="/products" enctype="multipart/form-data" method="POST" id="new-product-form" class="new-product">

      <div class="new-product-form__field-wrapper">
        <label for="new-product-form__name">Product Name</label>
        <input placeholder="Product Name" type="text" name="product_name" id="new-product-form__name">
      </div>

      <div class="new-product-form__field-wrapper">
        <label for="new-product-price">Price</label>
        <input type="number" name="price" placeholder="$" id="new-product-price">
      </div>

      <div class="new-product-form__field-wrapper">
        <label for="new-product-form__thumbnail">Thumbnail Image</label>
         <input placeholder="Thumbnail Image" type="file" name="thumbnail" id="new-product-form__thumbnail">
         </div>
        <div class="new-product-form__field-wrapper">
          <label for="new-product-form__stock">Stock</label>
          <input placeholder="Stock" type="number" name="stock" id="new-product-form__stock">
        </div>

        <div class="new-product-form__field-wrapper">
          <label for="new-product-description">Description</label>
          <textarea placeholder="Description" name="description" id="new-product-description" cols="30" rows="10"></textarea>
        </div>

        <div class="new-product-form__field-wrapper">
          <button value="Get me the Product!" type="submit">Create</button>
          <a id="product-form__cancel" href="#">Cancel</a>
        </div>
    </form>
    <form action="/products" method="get" id="search-product-form" class="search-product-form">
      <div class="search-product-form__field-wrapper">
        <label for="search-product-form__seller">Seller</label>
        <input type="text" name="seller" placeholder="Seller" id="search-product-form__seller">
      </div>

      <div class="search-product-form__field-wrapper">
        <label for="search-product-form__minimum-price-per-unit">Minimum Price</label>
        <input type="number" name="minimum_price_per_unit" placeholder="Minimum Price" id="search-product-form__minimum-price-per-unit">
        <label for="search-product-form__maximum-price-per-unit">Maximum Price</label>
        <input type="number" name="maximum_price_per_unit" placeholder="Maximum Price" id="search-product-form__maximum-price-per-unit">
      </div>

      <div class="search-product-form__field-wrapper">
        <label for="search-product-form__minimum-rating">Minimum Rating</label>
        <input type="number" name="minimum_rating" placeholder="Minimum Rating" id="search-product-form__minimum-rating">
      </div>

      <div class="search-product-form__field-wrapper">
          <button>Search</button>
          <a id="search-product-form__cancel" href="#">Cancel</a>
      </div>
    </form>
  </body>
</html>
