<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>MidZak</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Le styles -->
    <link href="/assets/css/bootstrap.css" rel="stylesheet" />
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .sidebar-nav {
        padding: 9px 0;
      }

      @media (max-width: 980px) {
        /* Enable use of floated navbar text */
        .navbar-text.pull-right {
          float: none;
          padding-left: 5px;
          padding-right: 5px;
        }
      }
    </style>
    <link href="/assets/css/bootstrap-responsive.css" rel="stylesheet" />
  </head>

  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <button
            type="button"
            class="btn btn-navbar"
            data-toggle="collapse"
            data-target=".nav-collapse"
          >
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="#">MidZak</a>
          <div class="nav-collapse collapse">
            <p class="navbar-text pull-right">
              <!-- Logged in as <a href="#" class="navbar-link">Username</a> -->
              <a href="#myModal" role="button" class="btn" data-toggle="modal">Login / Signup</a>
            </p>
            <ul class="nav">
              <li class="active"><a href="#">Sell</a></li>
              <li><a href="#about">Favourites</a></li>
              <li><a href="#contact">Inbox</a></li>
            </ul>
          </div>
          <!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span3">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">Work From Home</li>
              <li class="active"><a href="#">Office Supplies</a></li>
              <li><a href="#">Lounge Wear</a></li>
              <li><a href="#">Emotional Support Animals</a></li>
              <li><a href="#">Therapy</a></li>
              <li class="nav-header">COVID</li>
              <li><a href="#">Masks</a></li>
              <li><a href="#">Bulk Food</a></li>
              <li><a href="#">Hand Sanitizer</a></li>
              <li><a href="#">At Home Gym</a></li>
              <li><a href="#">Video Games</a></li>
              <li class="nav-header">Fashion</li>
              <li><a href="#">Clothes</a></li>
              <li><a href="#">Shoes</a></li>
              <li><a href="#">Accessories</a></li>
            </ul>
          </div>
          <!--/.well -->
        </div>
        <!--/span-->
        <div class="span9">
          <div class="hero-unit">
            <h1>Marketplace</h1>
            <p>
              An app where you can put different types of things up for sale. This lets buyers find the items they are looking for quickly, and easily contact sellers.
            </p>
            <p>
              <a href="#" class="btn btn-primary btn-large"
                >Sell Now &raquo;</a
              >
            </p>
          </div>

          <div id="prod_view">
            <% for(let ele in data ) { %>

            <article id="prod_article">
              <div>
                <tr>
                  <div>
                    <td><img src="uploads/<%= data[ele]["thumbnail"] %>.png" /></td>
                  </div>
                </tr>
              </div>
              <div id="art_logo">
                <button class="fas fa-flag"></button>
                <button class="fas fa-retweet"></button>
                <button method="post" class="fas fa-heart"></button>
              </div>
            </article>
            <% } %>
          </div>
        </main>





          <div class="row-fluid">
            <div class="span4">
              <h2>Heading</h2>
              <p>
                Donec id elit non mi porta gravida at eget metus. Fusce dapibus,
                tellus ac cursus commodo, tortor mauris condimentum nibh, ut
                fermentum massa justo sit amet risus. Etiam porta sem malesuada
                magna mollis euismod. Donec sed odio dui.
              </p>
              <p><a class="btn" href="#">View details &raquo;</a></p>
            </div>
            <!--/span-->
            <div class="span4">
              <h2>Heading</h2>
              <p>
                Donec id elit non mi porta gravida at eget metus. Fusce dapibus,
                tellus ac cursus commodo, tortor mauris condimentum nibh, ut
                fermentum massa justo sit amet risus. Etiam porta sem malesuada
                magna mollis euismod. Donec sed odio dui.
              </p>
              <p><a class="btn" href="#">View details &raquo;</a></p>
            </div>
            <!--/span-->
            <div class="span4">
              <h2>Heading</h2>
              <p>
                Donec id elit non mi porta gravida at eget metus. Fusce dapibus,
                tellus ac cursus commodo, tortor mauris condimentum nibh, ut
                fermentum massa justo sit amet risus. Etiam porta sem malesuada
                magna mollis euismod. Donec sed odio dui.
              </p>
              <p><a class="btn" href="#">View details &raquo;</a></p>
            </div>
            <!--/span-->
          </div>
          <!--/row-->
          <div class="row-fluid">
            <div class="span4">
              <h2>Heading</h2>
              <p>
                Donec id elit non mi porta gravida at eget metus. Fusce dapibus,
                tellus ac cursus commodo, tortor mauris condimentum nibh, ut
                fermentum massa justo sit amet risus. Etiam porta sem malesuada
                magna mollis euismod. Donec sed odio dui.
              </p>
              <p><a class="btn" href="#">View details &raquo;</a></p>
            </div>
            <!--/span-->
            <div class="span4">
              <h2>Heading</h2>
              <p>
                Donec id elit non mi porta gravida at eget metus. Fusce dapibus,
                tellus ac cursus commodo, tortor mauris condimentum nibh, ut
                fermentum massa justo sit amet risus. Etiam porta sem malesuada
                magna mollis euismod. Donec sed odio dui.
              </p>
              <p><a class="btn" href="#">View details &raquo;</a></p>
            </div>
            <!--/span-->
            <div class="span4">
              <h2>Heading</h2>
              <p>
                Donec id elit non mi porta gravida at eget metus. Fusce dapibus,
                tellus ac cursus commodo, tortor mauris condimentum nibh, ut
                fermentum massa justo sit amet risus. Etiam porta sem malesuada
                magna mollis euismod. Donec sed odio dui.
              </p>
              <p><a class="btn" href="#">View details &raquo;</a></p>
            </div>
            <!--/span-->
          </div>
          <!--/row-->
        </div>
        <!--/span-->
      </div>
      <!--/row-->

      <hr />

      <footer>
        <p>&copy; MidZak LH 2021</p>
      </footer>
    </div>
    <!--/.fluid-container-->

    <!-- Login / Signup Modal -->
    <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Modal header</h3>
      </div>
      <div class="modal-body">
        <p>One fine body…</p>
      </div>
      <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
        <button class="btn btn-primary">Save changes</button>
      </div>
    </div>

    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
  </body>
</html>
