<!DOCTYPE html>
  <html lang="en">

        <!-- Head -->
        <%- include('partials/head') %>

        <!-- Nav -->
        <%- include('partials/nav') %>

        <!-- Login-modal -->
        <%- include('partials/login-modal') %>

    <body>
      <div class="row-fluid">
        <div class="span6 offset3" >
          <form action="/upload" method="POST" id="new-product-form" enctype="multipart/form-data" class="new-product center">
            <h1>List new</h1>
            <div class="new-product-form__field-wrapper">
              <label for="new-product-form__name">Product Name</label>
              <input placeholder="Product Name" class="span12" type="text" name="product_name" id="new-product-form__name">
            </div>

            <div class="new-product-form__field-wrapper ">
              <label for="new-product-price">Price</label>
              <input class="span12"type="number" name="price" placeholder="$" id="new-product-price">
            </div>

              <div class="new-product-form__field-wrapper">
                <label for="new-product-form__stock">Stock</label>
                <input class="span12" placeholder="Stock" type="number" name="stock" id="new-product-form__stock">
              </div>

              <div class="new-product-form__field-wrapper">
                <label for="new-product-description">Description</label>
                <textarea class="span12" placeholder="Description" name="description" id="new-product-description" cols="30" rows="10"></textarea>
              </div>

                <label for="new-product-form__thumbnail">Upload Image</label>
                <input class="span12" type="file" name="thumbnail" accept="image/*" id="new-product-form__thumbnail" />

              <div style="margin-top: 25px" class="new-product-form__field-wrapper">
                <button class="btn btn-primary" role="button">Create</button>
                <a id="property-form__cancel" href="/views">Cancel</a>
              </div>

          </form>
        </div>
      </div>

  </body>
</html>
