<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Product Page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />


    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <script type="text/javascript" src="/scripts/product-page.js"></script>
  </head>

  <header>
    <h1>
      <img src ="logo.svg">
    </h1>

    <!-- search bar -->

    <nav>
      <a href="favorites.html">Favorites</a>
      <a href="sell.html">Sell</a>
      <a href="inbox.html">Inbox</a>
    </nav>
  </header>

  <body>

    <div class="card">
      <img class="pdp-product-image" id="main-product-image" src="jeans3.jpg" alt="Denim Jeans" style="width:100%">
      <h1 id="product-name">Tailored Jeans</h1>
      <p class="price">$19.99</p>
      <p id="product-description">Some text about the jeans..</p>
      <p><button>Contact Seller</button></p>
      <form>
        <p><button>Request New Price</button></p>
        <input type="integer" id="newprice" name="newprice" placeholder="$"><br>
      </form>
    </div>

    <footer>
      <img src="logo-footer.svg">
       <p>Copyright &copy; KAZ 2021</p>
    </footer>

  </body>



</html>


