// See: https://sass-lang.com/

body {
  display: flex;
  justify-content: right;
  padding-right: 1em;
  main {
    flex-wrap: wrap;
    width: 85%;
    background-color: rgb(230, 235, 221);
    display: flex;
    justify-content: flex-start;
    // align-items: center;

    // flex-direction: ;
    #prod_article {
      //   // justify-content: space-evenly;
      //   // flex-direction: row;
      padding: 1em;
      //   width: 10px;
      //   height:1em
      //   // padding-right: 10em;
      // }
      img {
        height: 15em;
        width: 20em;
      }
    }

    margin-top: 5em;
  }
}
