// See: https://sass-lang.com/

body {
  background-color:rgb(139, 141, 135);
  display:flex;
  justify-content: center;
  margin-top: 3em;
  
  h1 {
    color: #244751;
  }
  #file{
    visibility: hidden;
  }
 
  .new-product-form__field-wrapper{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    padding: .5em;
    #thumbnail{
      display: flex;
      // flex-direction: row;
      padding-left: 3em;
    }
  }
}
