// // See: https://sass-lang.com/
// body {

//   flex-direction: column;
//   background-color: rgb(233, 227, 224);
//   display: flex;
//   align-items: center;
//   padding-right: 1em;
//   form {
//     top:120px;
//   }
//   main {
//     margin-top: 5em;
//     display: flex;
//     flex-direction: row;
//     flex-wrap: wrap;
//     width: 102.3%;
//     background-color: rgb(255, 255, 255);
//     justify-content: flex-start;

//     #menu {
//       width:15em;
//       background-color: rgb(255, 255, 255);
//     }

//     #prod_view{
//       padding-left: 6em;
//       display: flex;
//       width: 72em;
//       flex-wrap: wrap;

//       #prod_article {
//         #art_logo :hover{
//         visibility:visible
//       }

//       padding: 1em;
//       img {
//         height: 15em;
//         width: 20em;
//       }
//       #art_logo{
//         display: none;
//         display: flex;
//         justify-content: flex-end;
//         padding-left:5px;
//         background-color: lightgray;
//         i{
//           padding: 2px;
//         }
//       }
//     }
//   }
//     margin-top: 5em;
//   }
// }
